<header class="header fixed-top d-flex align-items-center" id="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container d-flex align-items-center justify-content-between">

        <a class="logo d-flex align-items-center me-auto me-lg-0" th:href="@{/}">
            <h1>Yummy<span>.</span></h1>
        </a>

        <div class="dropdown" sec:authorize="isAuthenticated()">
            <a aria-expanded="false" data-bs-toggle="dropdown" href="#" role="button">
                <span class="text-black" th:text="${#authentication.principal.username}">username</span>
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/receitas/compartilhar}">Compartilhar receita</a></li>
                <li><a class="dropdown-item" th:href="@{/receitas/publicadas}">Minhas receitas</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/logout}">Sair</a></li>
            </ul>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <a class="btn-book-a-table bg-body-tertiary text-dark" th:href="@{/login}">Entrar</a>
            <a class="btn-book-a-table" th:href="@{/registration}">Cadastrar</a>
        </div>
    </div>
</header>
<!--end header-->