<!DOCTYPE html>
<html lang="en"
      th:replace="~{fragment/shared/layout :: html (~{fragment/shared/head :: head (~{::title}, ~{})}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Yummy. Recipes</title>
</head>

<main>
    <div class="container" style="min-height: 100vh;">
        <div class="row justify-content-center w-100">
            <h1>Receitas</h1>
            <div class="bg-light-subtle mb-3" th:each="recipe : ${recipes}">
                <h3 class="m-0" th:text="${recipe.title()}">Recipe Name</h3>
                <p th:text="'Criado por ' + ${recipe.owner()}">Owner</p>

                <p th:text="${recipe.description()}">Description</p>
                <a class="fw-bold" th:href="@{'/recipes/details/' + ${recipe.id()}}">Ver receita</a>
            </div>
        </div>
    </div>
</main>

</html>