<!DOCTYPE html>
<html lang="en"
      th:replace="~{fragment/shared/layout :: html (~{::#head-content}, ~{::main}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head id="head-content">
  <title>Yummy. Recipes</title>
  <link href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css" rel="stylesheet">
</head>

<main>
  <section class="mt-5">
    <div class="container">
      <div class="mb-3">
        <p class="fs-4 m-0">Most rated recipes</p>
        <small class="text-muted">Our recommendations</small>
      </div>
      <div class="glider-contain">
        <div class="glider hidescroll py-3">
          <th:block th:each="mostLiked : ${data.items()}">
            <div class="d-flex bg-white me-3 shadow-hover">
              <div class="me-3">
                <img class="object-fit-cover img-fluid p-sm-3" height="200"
                     th:alt="${mostLiked.title()}" th:src="@{/img/menu/menu-item-6.png}"
                     width="200">
              </div>
              <div class="d-flex flex-column justify-content-center w-100">
                <span class="fs-5 text-truncate" style="max-width: 200px" th:text="${mostLiked.title()}"></span>
                <div class="d-flex flex-column text-muted">
                  <div>
                    <small>45 Likes • 33 comments</small>
                  </div>
                  <div>
                    <small><span th:text="${10}"></span> min • <span th:text="${8}"></span> Servings</small>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
        </div>
        <button aria-label="Previous" class="glider-prev d-none d-lg-block" type="button">«</button>
        <button aria-label="Next" class="glider-next d-none d-lg-block" type="button">»</button>
      </div>
    </div>
  </section>

  <section>
    <div class="container mt-5">
      <div class="mb-3 pb-3">
        <p class="fs-4 m-0">Recipes</p>
        <small class="text-muted">Search for any recipe you want!</small>
      </div>

      <div class="row">
        <th:block th:each="recipe : ${data.items()}">
          <div class="col-12 col-lg-4 mb-5">
            <div class="card border rounded-0">
              <img class="card-img-top rounded-0 object-fit-cover" height="300" th:alt="${recipe.title()}"
                   th:src="@{/img/bg5.jpg}" width="300">
              <div class="card-body shadow">
                <h4 class="card-title text-truncate" th:text="${recipe.title()}"></h4>
                <div class="m-0 p-0 text-truncate">
                  <small class="card-text" th:text="${recipe.description()}"></small>
                </div>
                <a class="card-link stretched-link text-decoration-none text-body"
                   th:href="@{/recipes/{id}/details(id=${recipe.id()})}"></a>
                <div class="mt-2 text-body">
                  <span>Created at </span> <span
                  th:text="${#temporals.format(recipe.createdAt(), 'MMMM dd, yyyy')}"></span>
                </div>
              </div>
            </div>
          </div>
        </th:block>
        <div th:if="${data.totalPages() > 0}">
          <div th:replace="~{/fragment/pagination :: pagination(${data}, '/recipes')}"></div>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
<script>
  window.addEventListener('load', function () {
    new Glider(document.querySelector('.glider'), {
      slidesToShow: 1,
      slidesToScroll: 1,
      draggable: true,
      dragVelocity: 1,
      duration: 5,
      responsive: [
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            arrows: {
              prev: '.glider-prev',
              next: '.glider-next'
            }
          }
        }
      ]
    });
  });

  var originalDis = document.getElementById('display');
  var containerDis = document.querySelector('.glider');

  for (var i = 0; i < 10; i++) {
    var cloneDisplay = originalDis.cloneNode(true);
    containerDis.appendChild(cloneDisplay);
  }
</script>
</html>