<!DOCTYPE html>
<html lang="en"
      th:replace="~{fragment/shared/layout :: html (~{fragment/shared/head :: head (~{::title}, ~{::script})}, ~{::main}, ~{})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Yummy. Share Recipe</title>
    <script defer th:src="@{/js/createInput.js}"></script>
</head>

<main class="container">
    <form class="row g-3 needs-validation" method="post"
          novalidate
          th:action="@{/recipes/share}" th:classappend="${#fields.hasErrors('*')} ? 'was-validated'"
          th:object="${recipe}">

        <div class="alert alert-primary" role="alert">
            To ensure that the recipe calories are calculated, please make sure that all ingredients are written in
            english.
            If you wish to calculate a specific quantity, you may prefix a quantity before an item. For example, 3
            tomatoes or 200 grams beef brisket. If no quantity is specified, the default quantity is 100 grams.
        </div>

        <!--recipe details section-->
        <div class="p-0" id="recipe-details-section">
            <h2 class="fs-3 fw-light col-6">Recipe Details</h2>
            <div class="row g-3">
                <div class="col-md-4">
                    <label class="form-label" for="recipeTitle">Title</label>
                    <input class="form-control" id="recipeTitle" maxlength="60" pattern="[A-Za-z]+" required
                           th:field="*{title}" type="text">
                    <div class="invalid-feedback" th:errors="*{title}" th:if="${#fields.hasErrors('title')}">
                        Please enter a valid recipe title.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="recipePreparationTime">Approximated time</label>
                    <input class="form-control" id="recipePreparationTime" max="99" min="1"
                           required th:field="*{preparationTime}" type="number">
                    <div class="invalid-feedback">
                        Please provide an approximate preparation time.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="recipeServings">No. of Servings</label>
                    <input class="form-control" id="recipeServings" max="99" min="1"
                           required th:field="*{servings}" type="number">
                    <div class="invalid-feedback">
                        Please specify the number of servings.
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label" for="recipeDescription">Description</label>
                    <textarea class="form-control" id="recipeDescription" maxlength="180"
                              required th:field="*{description}"></textarea>
                    <div class="invalid-feedback" th:errors="*{description}"
                         th:if="${#fields.hasErrors('description')}">
                        Please enter a description in the textarea.
                    </div>
                </div>
            </div>
        </div>
        <!--end recipe details section-->

        <!--ingredients section-->
        <div class="p-0 mt-5" id="ingredients-section">
            <h2 class="fs-3 fw-light col-6">Ingredients</h2>

            <div class="alert alert-danger" role="alert"
                 th:errors="*{ingredients}" th:if="${#fields.hasErrors('ingredients')}"></div>

            <div class="ingredient-div" th:each="err, stat : *{ingredients}">
                <input class="form-control mb-2" placeholder="200 grams chicken breast"
                       required th:field="*{ingredients[__${stat.index}__]}" type="text">
            </div>

        </div>
        <button class="btn btn-primary btn-sm w-25" onclick="addIngredientInput()" type="button">Add ingredient
        </button>
        <!--end ingredients section-->

        <!--step-by-step section-->
        <div class="p-0 mt-5" id="step-section">
            <h2 class="fs-3 fw-light col-6">Step-By-Step</h2>

            <div class="alert alert-danger" role="alert"
                 th:errors="*{howToPrepare}" th:if="${#fields.hasErrors('howToPrepare')}"></div>

            <div class="step-by-step-div" th:each="err, stat : *{howToPrepare}">
                <textarea class="form-control mb-2" maxlength="500"
                          required th:field="*{howToPrepare[__${stat.index}__]}"></textarea>
            </div>

        </div>
        <button class="btn btn-primary btn-sm w-25" onclick="addStepInput()" type="button">Add Step
        </button>
        <!--end step-by-step section-->


        <div class="col-12 p-0">
            <button class="btn btn-success mb-3" type="submit">Share</button>
        </div>
    </form>
</main>
</html>