<!DOCTYPE html>
<html lang="en"
      th:replace="~{fragment/shared/layout :: html (~{fragment/shared/head :: head (~{::title}, ~{::script})}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Yummy. Share Recipe</title>
    <script defer th:src="@{/js/createInput.js}"></script>
</head>

<main>
    <div class="container">
        <form method="post" th:action="@{/recipes/share}" th:object="${recipe}">
            <div class="form-group mb-3">
                <label for="title">Título da Receita</label>
                <input class="form-control" id="title" required
                       th:field="*{title}" type="text">
            </div>

            <div class="form-group mb-3">
                <label for="servings">Porções</label>
                <input class="form-control" id="servings"
                       required th:field="*{servings}"/>
            </div>

            <div class="form-group mb-3">
                <label for="timeToPrepare">Tempo de preparação</label>
                <input class="form-control" id="timeToPrepare"
                       required th:field="*{preparationTime}"/>
            </div>

            <div class="form-group mb-3">
                <label for="description">Descrição</label>
                <input class="form-control" id="description"
                       required th:field="*{description}"/>
            </div>

            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <label for="ingredient1">Ingredientes</label>
                    <button class="btn btn-primary" id="add-ingredient" type="button">Adicionar Ingrediente</button>
                </div>
                <div class="form-group mb-3 mt-3" id="recipe-ingredients">
                    <input class="form-control" id="ingredient1" name="ingredients"
                           required th:field="*{ingredients}"/>
                </div>
            </div>

            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <label for="step1">Etapas</label>
                    <button class="btn btn-primary" id="add-step" type="button">Adicionar Etapa</button>
                </div>
                <div class="form-group mb-3 mt-3" id="recipe-steps">
                        <textarea class="form-control" id="step1" required rows="5"
                                  th:field="*{howToPrepare}"></textarea>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Compartilhar</button>
        </form>
    </div>
</main>

</html>