<!DOCTYPE html>
<html lang="en"
      th:replace="~{fragment/shared/layout :: html (~{::#head-content}, ~{::main}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head id="head-content">
  <title>Yummy. My Recipes</title>
</head>

<main hx-swap-oob="outerHTML:#main" id="main" th:fragment="recipes-container">
  <section class="mt-5">
    <div class="container">
      <th:block th:if="${data.items().isEmpty()}">
        <div class="d-flex flex-column align-items-center justify-content-center w-100">
          <h1 class="fw-light fs-5 mb-0" data-th-text="#{ui.myRecipes.empty}">You don't have any recipe!</h1>
          <a th:href="@{/dashboard/recipes/new}" data-th-text="#{ui.myRecipes.empty.createOne}">create one!</a>
        </div>
      </th:block>

      <div class="table-responsive" th:unless="${data.items().isEmpty()}">
        <table class="table table-striped table-hover">
          <caption>You have <span th:text="${data.totalItems()}">10</span> recipes - Page <span
            th:text="${data.currentPage()}">1</span> of <span th:text="${data.totalPages()}">2</span></caption>
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col" data-th-text="#{ui.myRecipes.table.image}">Image</th>
            <th scope="col" data-th-text="#{ui.myRecipes.table.title}">Title</th>
            <th scope="col" data-th-text="#{ui.myRecipes.table.desc}">Description</th>
            <th scope="col" data-th-text="#{ui.myRecipes.table.likes}">Likes</th>
            <th scope="col" data-th-text="#{ui.myRecipes.table.comments}">Comments</th>
            <th scope="col" data-th-text="#{ui.myRecipes.table.status}">Status</th>
            <th scope="col" data-th-text="#{ui.myRecipes.table.actions}">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr class="align-middle" th:each="recipe : ${data.items()}">
            <th scope="row"><a class="btn btn-transparent"
                               th:href="@{/recipes/{id}/details(id=${recipe.id()})}"
                               th:text="${recipe.id()}"></a></th>
            <td>
              <img alt="recipe picture" class="object-fit-cover img-fluid" height="40"
                   th:src="@{/img/menu/menu-item-6.png}"
                   width="40">
            </td>
            <td class="text-truncate" data-bs-toggle="tooltip" style="max-width: 25px;"
                th:data-bs-title="${recipe.title()}" th:text="${recipe.title()}"></td>
            <td class="text-truncate" data-bs-toggle="tooltip" style="max-width: 25px;"
                th:data-bs-title="${recipe.description()}" th:text="${recipe.description()}"></td>
            <td th:text="0"></td>
            <td th:text="0"></td>
            <td th:text="Enabled"></td>
            <td>
              <div class="d-flex gap-3">
                <button class="btn btn-transparent fs-5 border-0 p-0 m-0"
                        hx-confirm
                        hx-swap="none"
                        hx:delete="@{/recipes/{id}(id=${recipe.id()})}"
                        th:data-header-name="${_csrf.headerName}"
                        th:data-token="${_csrf.token}"
                        type="button">
                  <i class="bi bi-trash"></i></button>
                <a class="btn btn-transparent fs-5 border-0 p-0 m-0"
                   th:href="@{/dashboard/recipes/{id}/edit(id=${recipe.id()})}"
                   type="button">
                  <i class="bi bi-pen"></i></a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div th:if="${data.totalPages() > 0}">
          <div th:replace="~{/fragment/pagination :: pagination(${data}, '/dashboard/recipes')}"></div>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script th:src="@{/js/addHeaders.js}"></script>
<script data-th-inline="javascript">
  document.getElementById('footer').remove();
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

  document.body.addEventListener('htmx:afterSwap', function (evt) {
    if (evt.detail.xhr.status === 200) {
      const toasts = document.querySelectorAll('[role="alert"]:not(.show)');
      const toastList = [...toasts].map(t => {
        if (t.classList.contains('hide')) t.remove();
        bootstrap.Toast.getOrCreateInstance(t).show();
      });
    }
  });

  const swalWithBootstrapButtons = Swal.mixin({
    customClass: {
      confirmButton: 'btn btn-primary rounded-0 me-3',
      cancelButton: 'btn btn-secondary rounded-0'
    },
    buttonsStyling: false
  });

  const title = /*[[#{ui.myRecipes.modal.title}]]*/ 'Are you sure?';
  const text = /*[[#{ui.myRecipes.modal.text}]]*/ 'You won\'t be able to revert this!';
  const confirmButton = /*[[#{ui.myRecipes.modal.confirmButton}]]*/ 'Yes, delete it!';
  const cancelButton = /*[[#{ui.myRecipes.modal.cancelButton}]]*/ 'No, cancel!';
  document.body.addEventListener('htmx:confirm', function (evt) {
    evt.preventDefault();
    swalWithBootstrapButtons.fire({
      title: title,
      text: text,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: confirmButton,
      cancelButtonText: cancelButton,
      allowOutsideClick: false
    }).then((result) => {
      if (result.isConfirmed) {
        evt.detail.issueRequest();
      }
    });
  });
</script>
</html>