<!DOCTYPE html>
<html lang="en"
      data-th-replace="~{fragment/shared/layout :: html (~{::#head-content}, ~{::main}, ~{::script})}"
>
<head id="head-content">
  <title>Something Wrong - Yummy</title>
</head>

<main class="d-flex flex-column align-items-center justify-content-center">
  <div class="w-100">
    <div>
      <h1 class="text-center text-dark-emphasis" data-th-text="#{ui.error.notFound}">NOT FOUND</h1>
      <p class="text-center text-dark-emphasis" data-th-text="#{ui.error.notFound.message}">Sorry, but we couldn't find this page!</p>
    </div>
  </div>
  <p><a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" data-th-href="@{/}" data-th-text="#{ui.error.backButton}">Back
    to homepage</a></p>
</main>

<script>
  document.getElementById('footer').remove();
</script>
</html>