/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #0d6efd;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.scroll-top:hover {
    background: #cfe2ff;
    color: #fff;
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
    transition: all 0.6s ease-out;
    width: 100%;
    height: 100vh;
}

#preloader:before,
#preloader:after {
    content: "";
    position: absolute;
    border: 4px solid #0d6efd;
    border-radius: 50%;
    animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#preloader:after {
    animation-delay: -0.5s;
}

@keyframes animate-preloader {
    0% {
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
        opacity: 1;
    }

    100% {
        width: 72px;
        height: 72px;
        top: calc(50% - 36px);
        left: calc(50% - 36px);
        opacity: 0;
    }
}

/*--------------------------------------------------------------
# Index Page CSS
--------------------------------------------------------------*/
@media (min-width: 1200px) {
    .hero {
        height: calc(100vh - 7.5vh);
    }
}

.food-card {
    transition: border-color 0.3s ease-in-out;
}

.food-card:hover {
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    border-color: #9a9a9a !important;
}

/*--------------------------------------------------------------
# Show all recipes Page CSS
--------------------------------------------------------------*/
.hidescroll::-webkit-scrollbar {
    display: none;
}

.hidescroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.shadow-hover {
    transition: box-shadow 500ms ease, transform 200ms ease;
}

.shadow-hover:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    transform: scale(1.01);
}