<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head id="head">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Yummy</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{shared/header :: #header}"></header>

<main id="main" style="margin-top: 5.7rem;">
    <div class="container d-flex align-items-center" style="min-height: 100vh;">
        <div class="row justify-content-center w-100">
            <form th:object="${recipe}" th:action="@{/receitas/compartilhar}" method="post">
                <div class="form-group mb-3">
                    <label for="name">Título da Receita</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}"
                           placeholder="Digite o título da receita" required>
                </div>

                <div class="form-group mb-3">
                    <label for="description">Descrição</label>
                    <input class="form-control" id="description" th:field="*{description}"
                           placeholder="Descreva a receita" required/>
                </div>

                <div class="form-group mb-3">
                    <label for="ingredients">Ingredientes</label>
                    <textarea class="form-control" id="ingredients" th:field="*{ingredients}" placeholder="Liste os ingredientes, por exemplo:

Massa:

- 1/2 xícara (chá) de óleo
- 2 cenouras médias
- 4 ovos
- 2 xícaras (chá) de açúcar
- 2 e 1/2 xícaras (chá) de farinha de trigo
- 1 colher (sopa) de fermento em pó" required rows="15"></textarea>
                </div>

                <div class="form-group mb-3">
                    <label for="howToPrepare">Modo de Preparo</label>
                    <textarea class="form-control" id="howToPrepare" th:field="*{howToPrepare}" placeholder="Descreva o modo de preparo, por exemplo:

Passos:

1. Descasque e pique as cenouras.
2. Bata no liquidificador as cenouras, óleo, ovos e açúcar.
3. Em uma tigela, misture a farinha de trigo com o fermento.
4. Adicione a mistura do liquidificador à tigela e misture bem.
5. Despeje a massa em uma forma untada.
6. Leve ao forno preaquecido a 180°C por 40 minutos.
7. Deixe esfriar e sirva." required rows="15"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Compartilhar</button>
            </form>
        </div>
    </div>
</main>

<footer th:replace="~{shared/footer :: #footer}"></footer>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>

<!-- Vendor Files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>