<!DOCTYPE html>
<html lang="en"
      data-th-replace="~{fragment/shared/layout :: html (~{::#head-content}, ~{::main}, ~{})}">
<head id="head-content">
  <title>Yummy.</title>
</head>

<main>
  <!-- hero section -->
  <section
    class="hero d-flex flex-column justify-content-between align-items-stretch bg-transparent position-relative overflow-hidden"
    id="hero">
    <img alt="desktop background image"
         class="object-fit-cover img-fluid position-absolute z-n1 d-none d-md-block"
         data-th-src="@{/img/desktop-background.png}"/>
    <img alt="mobile background image"
         class="object-fit-cover img-fluid position-absolute z-n1 d-block d-md-none"
         data-th-src="@{/img/groceries-background-mobile.avif}"/>

    <!-- Hero content: will be in the middle -->
    <div class="d-flex align-items-start align-items-xl-center flex-grow-1 flex-shrink-0 py-5 px-2 p-md-5">
      <div class="container text-center flex-grow-1 flex-shrink-1">
        <div class="mb-3">
          <p class="fs-2 fw-semibold m-0 p-0" data-th-text="#{ui.welcome}">
            Delicious Food
          </p>
          <p class="lead m-0 p-0" data-th-text="#{ui.welcome.description}">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum
            voluptatibus ratione!
          </p>
        </div>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary rounded-0" data-th-href="@{/recipes}" data-th-text="#{ui.button.searchRecipe}" type="button">Search for recipes</a>
        </div>
      </div>
    </div>

  </section>

  <!-- most rated recipes section -->
  <section>
    <div class="bg-light py-4">
      <h1 class="w-100 text-center fs-3 fw-light pb-3" data-th-text="#{ui.newest.recipes}">Newest Recipes</h1>
      <div class="d-flex flex-column flex-md-row gap-2">

        <div class="d-flex flex-grow-1 gap-3 border rounded-2 mx-2 px-2 bg-white shadow-sm food-card"
             style="height: 8rem;">
          <div class="d-flex justify-content-center align-items-center">
            <img alt="recipe image" class="object-fit-cover rounded-circle" height="50"
                 data-th-src="@{/img/menu/menu-item-1.png}"
                 width="50">
          </div>
          <div class="w-100 d-flex flex-column justify-content-center">
            <p class="p-0 m-0 fs-5 fw-light">Food</p>
            <p class="p-0 m-0 fs-6 fw-lighter">Healthy</p>
          </div>
        </div>

        <div class="d-flex flex-grow-1 gap-3 border rounded-2 mx-2 px-2 bg-white shadow-sm food-card"
             style="height: 8rem;">
          <div class="d-flex justify-content-center align-items-center">
            <img alt="recipe image" class="object-fit-cover rounded-circle" height="50"
                 data-th-src="@{/img/menu/menu-item-2.png}"
                 width="50">
          </div>
          <div class="w-100 d-flex flex-column justify-content-center">
            <p class="p-0 m-0 fs-5 fw-light">Food</p>
            <p class="p-0 m-0 fs-6 fw-lighter">Healthy</p>
          </div>
        </div>

        <div class="d-flex flex-grow-1 gap-3 border rounded-2 mx-2 px-2 bg-white shadow-sm food-card"
             style="height: 8rem;">
          <div class="d-flex justify-content-center align-items-center">
            <img alt="recipe image" class="object-fit-cover rounded-circle" height="50"
                 data-th-src="@{/img/menu/menu-item-3.png}"
                 width="50">
          </div>
          <div class="w-100 d-flex flex-column justify-content-center">
            <p class="p-0 m-0 fs-5 fw-light">Food</p>
            <p class="p-0 m-0 fs-6 fw-lighter">Healthy</p>
          </div>
        </div>

      </div>

    </div>
  </section>
</main>

</html>