<!DOCTYPE html>
<html lang="en"
      th:replace="~{fragment/shared/layout :: html (~{::#head-content}, ~{::main}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head id="head-content">
  <title>Yummy. Login</title>
</head>

<main>
  <section class="mt-5 d-flex align-items-center justify-content-center">
    <div class="text-center form-signin">
      <form id="form" method="post" novalidate style="max-width: 330px" th:action="@{/login}"
            th:object="${authentication}">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <th:block th:if="${param.error}">
          <p class="alert alert-danger">Username or password are incorrect!</p>
        </th:block>
        <th:block th:if="${param.success}">
          <p class="alert alert-success">Your account has been successfully created!<br>Check your email for a
            confirmation message.</p>
        </th:block>
        <th:block th:if="${param.logout}">
          <p class="alert alert-primary">You are disconnected!</p>
        </th:block>
        <p class="alert alert-danger d-none" id="not-empty-fields">You must enter all fields!</p>
        <div class="form-floating">
          <input class="form-control shadow-none rounded-0" id="floatingInput" placeholder="name@example.com"
                 required th:field="*{username}" type="email">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input class="form-control shadow-none rounded-0" id="floatingPassword" placeholder="Password" required
                 th:field="*{password}" type="password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox my-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary rounded-0" type="submit">Sign In</button>
        <p class="mt-4 mb-3 text-muted">&copy; 2023</p>
      </form>
    </div>
  </section>
</main>

<script th:src="@{/js/inputValidation.js}"></script>
<script>
  document.getElementById('footer').remove();
  const form = document.getElementById('form');
  const errorBox = document.getElementById('not-empty-fields');
  form.onsubmit = () => {
    if (emailInput.value === '' || passwordInput.value === '' || !validateEmail(emailInput.value)) {
      errorBox.classList.add('d-block');
      errorBox.classList.remove('d-none');
      return false;
    }
    return true;
  };
</script>
</html>