<!DOCTYPE html>
<html lang="en"
      th:replace="~{fragment/shared/layout :: html (~{::#head-content}, ~{::main}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head id="head-content">
  <title>Yummy. Sign Up</title>
</head>

<main>
  <section class="mt-5 d-flex align-items-center justify-content-center">
    <div class="text-center form-signup">
      <form id="form" method="post" novalidate style="max-width: 330px" th:action="@{/auth/register}"
            th:object="${registration}">
        <h1 class="h3 mb-3 fw-normal">Sign up now</h1>
        <th:block th:if="${#fields.hasErrors('username')}">
          <p class="alert alert-danger" th:errors="*{username}">Please enter a valid email.</p>
        </th:block>
        <th:block th:if="${#fields.hasErrors('password')}">
          <p class="alert alert-danger" th:errors="*{password}">Please enter a valid password.</p>
        </th:block>
        <th:block th:if="${#fields.hasErrors('confirmPassword')}">
          <p class="alert alert-danger" th:errors="*{confirmPassword}">Confirmation password invalid.</p>
        </th:block>
        <p class="alert alert-danger d-none" id="not-empty-fields">You must enter all fields!</p>
        <div class="form-floating">
          <input class="form-control shadow-none rounded-0" id="floatingInput" placeholder="name@example.com"
                 required th:field="*{username}" type="email">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input class="form-control shadow-none rounded-0" id="floatingPassword" placeholder="Password" required
                 th:field="*{password}" type="password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
          <input class="form-control shadow-none rounded-0" id="floatingConfirmPassword" placeholder="Confirm Password"
                 required th:field="*{confirmPassword}" type="password">
          <label for="floatingConfirmPassword">Confirm Password</label>
        </div>

        <div class="checkbox my-3">
          <label>
            <input type="checkbox" value="receive-notifications"> Keep me updated
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary rounded-0" type="submit">Sign Up</button>
        <p class="mt-4 mb-3 text-muted">&copy; 2023</p>
      </form>
    </div>
  </section>
</main>

<script th:src="@{/js/inputValidation.js}"></script>
<script>
  document.getElementById('footer').remove();
  const form = document.getElementById('form');
  const errorBox = document.getElementById('not-empty-fields');
  form.onsubmit = () => {
    if (emailInput.value === '' || passwordInput.value === '' || confirmPasswordInput.value === ''
      || confirmPasswordInput.value !== passwordInput.value || !validateEmail(emailInput.value)) {
      errorBox.classList.add('d-block');
      errorBox.classList.remove('d-none');
      return false;
    }
    return true;
  };
</script>
</html>