<header id="header" class="header fixed-top d-flex align-items-center" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container d-flex align-items-center justify-content-between">

        <a th:href="@{/}" class="logo d-flex align-items-center me-auto me-lg-0">
            <h1>Yummy<span>.</span></h1>
        </a>

        <div class="dropdown" sec:authorize="isAuthenticated()">
            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span th:text="${#authentication.principal.username}" class="text-black">username</span>
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/receitas/compartilhar}">Compartilhar receita</a></li>
                <li><a class="dropdown-item" th:href="@{/receitas/publicadas}">Minhas receitas</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <a class="btn-book-a-table bg-body-tertiary text-dark" th:href="@{/login}">Sign in</a>
            <a class="btn-book-a-table" th:href="@{/registration}">Sign up</a>
        </div>
    </div>
</header><!-- End Header -->